<div class="container">
  <br />
  <div class="col-md-8 col-sm-offset-2">
    <div class="well">
      <h1>Last Step!</h1>
      <%= simple_form_for @lead do |f| %>
        <%= f.input :business_name %>
        <%= f.input :state %>
        <%= f.input :business_type %>
        <%= f.input :payment_methods %>
        <%= f.input :annual_average_processing_volume %>
        <%= f.input :average_sale_amount %>
        <%= f.input :last_month_processing_volume %>
        <%= f.input :last_month_processing_fees %>
        <%= f.input :chargebacks %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
